@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
body { background-color: cornflowerblue; user-select: none;}

.clocker { position: fixed; border-width: 3px; border-style: ridge; border-color: darkslategray; 
padding: 6px; background-color: lightslategray; }

.menu {border-bottom-right-radius: 10px; top: 0; left:0}
.login {border-bottom-left-radius: 10px; top:0; right:0}

#registerform {margin-block-end: 10px;}
#register h2 {color:darkslategray}
#registerForm > input {display: list-item;}
#registerForm label {color:darkslategray;}
#registerForm label:hover {color:darkslateblue}
#registerform div {display:flex; margin-top: 5px; justify-content: space-around;}

dialog:open {
    opacity: 1;
    transform: scaleY(1);
}
  
dialog {
  opacity: 0;
  transform: scaleY(0);
  transition:
    opacity 0.7s ease-out,
    transform 0.7s ease-out,
    overlay 0.7s ease-out allow-discrete,
    display 0.7s ease-out allow-discrete;
}
  
@starting-style {
  dialog:open {
    opacity: 0;
    transform: scaleY(0);
  }
}
  
dialog::backdrop {
  background-color: rgb(0 0 0 / 0%);
  transition:
    display 0.7s allow-discrete,
    overlay 0.7s allow-discrete,
    background-color 0.7s;
}
  
dialog:open::backdrop {
  background-color: rgb(0 0 0 / 50%);
}
  
@starting-style {
  dialog:open::backdrop {
    background-color: rgb(0 0 0 / 0%);
  }
}

h1 { 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center; color:rgb(13, 84, 238); text-decoration: solid underline;
}

canvas { border: 5px rgb(13, 84, 238) solid; display:flex; align-self: center; justify-self:center; background-color: black;}

.nav { border: 2px solid darkslateblue; padding:1.5px; background-color: darkcyan; text-decoration: none; color: darkslategrey; border-radius: 4px}
.nav:hover { color: darkslateblue; background-color: darkseagreen;}